body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
.navbar-expand-lg{
    box-shadow: 1px 1px 10px rgb(200, 202, 202);
    margin-top: 10px;
    border-radius: 10px;
}
.carousel-inner{
    box-shadow: 2px 2px 18px rgb(170, 173, 177);
    border-radius: 10px;
    background-color: rgb(226, 240, 247);
}
.tata{
    color: darkcyan;
}
.tata2{
    color: rgb(255, 80, 232);
}
.row{
    margin-top: 30px;
}
.bata{
    color: rgb(253, 95, 95);
}
.loice h3{
    color: rgb(109, 123, 204);
}
.nanto li{
    color: rgb(150, 111, 111);
}
.jara h2{
    color: rgb(114, 15, 185);
}
.jara p{
    color:  rgb(145, 46, 46);
}
.mall p{
    color: goldenrod;
} 
.card-group{
    margin-top: 5px;
}
.fanta{
    float: right;
    margin-left: 20px;
}
.fanta h4{
    color: rgb(240, 69, 12);
    padding-top: 6px;
    margin-right:142px;
}
.card-group{
   box-shadow: 2px 2px 40px;
}
.tea h5{
    background-color: cadetblue;
    color: blanchedalmond;
    height: 50px;
    width: 200px;
    padding: 10px 10px;
    box-shadow: 2px 2px 14px;
    margin-top: 10px;
    border-color: firebrick solid;
}
.card{
    box-shadow: 1px 1px 15px rgb(216, 213, 204);
}
.card-title{
    color: darkcyan;
}
.card-text{
    color: rgb(124, 75, 75);
}
.ninja h5{
    color: rgb(253, 101, 50);
}
.fanta-top{
    float: right;
   margin-right: 250px;
   padding-top: 5px;
   color: rgb(250, 40, 40);
}
.toba h5{
    color: goldenrod;
}
.hunt h3{
    padding-top: 30px;
    color: indianred;
    text-align: center;
}
.joss img{
    height: 100%;
    width: 100%;
    box-shadow: 1px 1px 10px rgb(236, 231, 213);
}


.card-img-top{
    padding: 12px;
}
.card1{
    margin-left: 12%;
}
.card1 img{
    height: 100px;
    width: 100px;
    margin: 12%;
}
h6{
    text-align: center;
    font-weight: 600;
}

.card2{
    margin-bottom: 15%;
}
.card3{
    margin-top: 60%;
}
.last-img img{
    height: 350px;
    width: 500px;
    padding-right: 5%;
}
hr{
    background-color: rgb(255, 115, 0);
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-width: 2px;
    width: 140px;
}
.shadow{
    margin-top: 40px;
}
.card-body{
    background-color: rgb(224, 252, 252);
    margin-top: 100px;
}
.misba{
    margin-top: 35px;
}
.lorem{
    font-size: 18px;
    text-align: center;
    margin-bottom: 60px;
    color: rgb(194, 175, 175);
}
marquee{
    color: darksalmon;
    font-size: 30px;
}