body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
.navbar-expand-lg{
    box-shadow: 1px 1px 10px rgb(200, 202, 202);
    margin-top: 10px;
    border-radius: 10px;
}
.carousel-inner{
    box-shadow: 2px 2px 18px rgb(170, 173, 177);
    border-radius: 10px;
    background-color: rgb(226, 240, 247);
}
.tata{
    color: darkcyan;
}
.tata2{
    color: rgb(255, 80, 232);
}
.row{
    margin-top: 50px;
}
.bata{
    color: rgb(253, 95, 95);
}
.loice h3{
    color: rgb(109, 123, 204);
}
.nanto li{
    color: rgb(150, 111, 111);
}
.jara h2{
    color: rgb(114, 15, 185);
}
.jara p{
    color:  rgb(145, 46, 46);
}
.mall p{
    color: goldenrod;
} 
.card-group{
    margin-top: 5px;
}
.fanta{
    float: right;
    margin-left: 5px;
    margin-top: 7px;
}
.fanta h4{
    color: rgb(240, 69, 12);
    padding-top: 6px;
    margin-right:142px;
}
.card-group{
   box-shadow: 2px 2px 40px;
}
.tea a h5{
    background-color: cadetblue;
    color: blanchedalmond;
    height: 50px;
    width: 200px;
    padding: 12px 40px;
    box-shadow: 2px 2px 14px;
   
}
.tea a{
    text-decoration: none;
}
.card{
    border-radius: 10px;
    box-shadow: 1px 1px 15px rgb(216, 213, 204);
   margin-bottom: 100px;
}
.card-title{
    color: darkcyan;
}
.card-text{
    color: rgb(124, 75, 75);
}
.ninja h5{
    color: rgb(253, 101, 50);
}

.fanta-top{
    float: right;
   margin-right: 240px;
   padding-top: 13px;
   color: rgb(250, 40, 40);
}
.toba h5{
    color: goldenrod;
}
.hunt h3{
    padding-top: 30px;
    color: indianred;
    text-align: center;
}
hr{
    color: darkviolet;
    background-color: rgb(255, 115, 0);
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-width: 3px;
    width: 140px;
}
.joss img{
   height: 500px;
   width: 600px;
    box-shadow: 1px 1px 10px rgb(236, 231, 213);
}


.card-img-top{
    padding: 12px;
}
.card1{
    margin-left: 12%;
}
.card1 img{
    height: 100px;
    width: 100px;
    margin: 12%;
}
h6{
    text-align: center;
    font-weight: 600;
}

.card2{
    margin-bottom: 15%;
}
.card3{
    margin-top: 60%;
}
.last-img img{
    height: 350px;
    width: 500px;
    padding-right: 5%;
}

.shadow{
    margin-top: 40px;
}
.card-body{
    background-color: rgb(224, 252, 252);
    margin-top: 100px;
}
.misba{
    margin-top: 35px;
}
.lorem{
    font-size: 18px;
    text-align: center;
    margin-bottom: 60px;
    color: rgb(139, 143, 150);
}
marquee{
    color: rgb(100, 217, 238);
    font-size: 30px;
}
.top h2{
    color: indianred;
}



input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  /* Add a background color when the inputs get focus */
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for all buttons */
  button {
      border-radius: 6px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 60px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 120px;
    opacity: 0.9;
  }
  
  button:hover {
    opacity:1;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
  }
  
  /* Float cancel and signup buttons and add an equal width */
  .cancelbtn, .signupbtn {
    float: left;
    width: 50%;
  }
  
  /* Add padding to container elements */
  .container {
    padding: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }
  
  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Change styles for cancel button and signup button on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
  }